Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s = 'Hello World'
l = [1,4,67,89]
f = 12.675
t = (22,45,57,92)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [11]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [15]:
#Q3. Explain the use of the following operators using an example:
#(i) / -this is division operator
10/2

5.0

In [16]:
#(ii) %  -this is modulous operator, gives remainder
10%2

0

In [17]:
#(iii) //  -this is division operator but gives integer part only
9//2

4

In [18]:
#(iv) **  -this is exponential operator, gives to the power of number.
3**3

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [24]:
l1 = [23, 44.66, 'string', True, None, [1,2,4,57,9],{'name': 'msr','age':22}, 99.88, 10]

In [35]:
for var in l1:
    print(var, type(var))

23 <class 'int'>
44.66 <class 'float'>
string <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 4, 57, 9] <class 'list'>
{'name': 'msr', 'age': 22} <class 'dict'>
99.88 <class 'float'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [53]:
def count_division(a,b):
    count = 0
    while a%b==0:
        a//=b
        count+=1
        
    return count

num_A =24
num_B = 2
result = count_division(num_A, num_B)
print(result)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [61]:
l2 =[2,24,35,93,19,4,3,96,44,31,92,47,25,27,35,42,49,53,72,66,77,84,90,91]

In [64]:
for var in l2:
    if var%3==0:
        print(var)

24
93
3
96
27
42
72
66
84
90

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans. Immutable is tuple and string, that means we can not assign new value while mutable are list, dictionary,set.

In [65]:
#Example:
s = 'This is a string'

In [67]:
s[0] = 'Y'

TypeError: 'str' object does not support item assignment

In [68]:
# Above shows that string is not mutable.